body {
    font-family: FTR-Regular;
    margin: 0px;
}

.certificate-container {
    /* padding: 30px; */
    max-width: 100%;
    margin:0px auto;
}
.top-shape-img img {
    width: 100%;
}
.top-shape-img {
    position: absolute;
    top: -28px;
    width: 285px;
}
.certificate {
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
    padding: 50px;
    min-height: 600px;
    position: relative;
}
.certificate-header {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.certificate-header img.certified {
    /* padding-right: 30px; */
    width: 140px;
    margin-right: 20px;
    height: 100%;
    padding-top: 20px;
}
h1.certiﬁcate_title {
    font-family: 'Parisienne', cursive;
    color: #3B58AF;
    font-size: 102px;
    margin-bottom: 0px;
}
.certificate {
    overflow: hidden;
}
h1.certiﬁcate_title {
    margin-top: -120px;
}
.certificate-content p.discription {
    font-size: 24px;
    line-height: 45px;
    color: #000;
}
.certificate-content p.discription span {
    font-weight: 600;
}
h3.Congrat {
    color: #555555;
    font-size: 35px;
    padding-top: 25px;
    max-width: 500px;
    margin: 0px auto 25px;
}
p.training-type {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 600;
    margin: 0px;
}
.certificate:after {
    content: '';
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    background-image: url(img/whatmark.png);
    background-size: 50%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.6;
}

.certificate-header > .logo {
    width: 110px;
    height: 100%;
}

.certificate-title {
    text-align: center;    
}

.certificate-body {
    text-align: center;
}

h1 {

    font-weight: 400;
    font-size: 48px;
    color: #0C5280;
}

.student-name {
    font-size: 24px;
}

.certificate-content {
    margin: 0 auto;
    width: 750px;
}

.about-certificate {
    width: 380px;
    margin: 0 auto;
}

.topic-description {

    text-align: center;
}
.bottom-shape-img {
    position: absolute;
    bottom: -39px;
    width: 304px;
    right: 50px;
}
.bottom-shape-img img {
    width: 100%;
}
.top-shape-bg {
    position: absolute;
    height: 250px;
    width: 284px;
    background: #9dabd6;
    top: -125px;
    left: -165px;
    transform: rotate(54deg);
}
.bottom-shape-bg {
    position: absolute;
    height: 250px;
    width: 284px;
    background: #9dabd6;
    bottom: -125px;
    right: -155px;
    transform: rotate(52deg);
}
.left-border {
    height: 63%;
    width: 4px;
    background: #ED1C24;
    position: absolute;
    top: 33%;
    left: 30px;
}
.left-border::after {
    content: "";
    height: 100%;
    width: 4px;
    background: #ED1C24;
    position: absolute;
    top: -25px;
    left: 30px;
}
.left-bottom-border {
    height: 4px;
    width: 60%;
    background: #ED1C24;
    position: absolute;
    bottom: 4%;
    left: 30px;
}
.left-bottom-border::after {
    content: "";
    height: 4px;
    width: 100%;
    background: #ED1C24;
    position: absolute;
    top: -25px;
    left: 30px;
}
.right-border {
    height: 63%;
    width: 4px;
    background: #3B58AF;
    position: absolute;
    bottom: 33%;
    right: 30px;
}
.right-border::before {
    content: "";
    height: 100%;
    width: 4px;
    background: #3B58AF;
    position: absolute;
    bottom: -25px;
    right: 31px;
}
.right-top-border {
    height: 4px;
    width: 60%;
    background: #3B58AF;
    position: absolute;
    top: 7%;
    right: 61px;
}

.right-top-border::before {
    content: "";
    height: 4px;
    width: 100%;
    background: #3B58AF;
    position: absolute;
    top: -25px;
    left: 30px;
}
.certificate-header > .logo {
    padding-top: 35px;
    padding-left: 15px;
    margin-left: 20px;
}
.certificate-footer .footer-item {
    display: flex;
}
.certificate-footer .footer-item .certified-id .img img {
    width: 55px;
}
.certificate-footer .footer-item .ceo-sign img {
    width: 120px;
}
.certificate-footer .footer-item {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    align-items: center;
    padding-bottom: 20px;
    padding-left: 59px;
}
.footer-item .certified-id {
    display: flex;
}
.footer-item p {
    margin: 0px;
}
.footer-item .certified-id .text {
    margin-left: 10px;
}
.footer-item .certified-id .text h5 {
    margin: 0px 0px 5px;
    color: #3B58AF;
    font-family: FTR-Regular;
    font-weight: 600;
    font-size: 22px;
}
.certificate-footer .trainer {
    text-align: center;
}
.certificate-footer .ceo-sign {
    text-align: center;
}
.certificate-footer .ceo-sign {
    position: relative;
    top: -12px;
}
.certificate-content p.discription {
    padding-bottom: 30px;
}
h2.user-name {
    border-bottom: 2px solid #c0c0c0;
    max-width: 500px;
    margin: 0px auto 25px;
    padding-bottom: 5px;
    font-family: 'Parisienne', cursive;
    font-size: 40px;
    font-weight: 500;
}